@model List<MalawiProjectsInventoryMVC.Entities.Donor>

<div class="py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-0">Donors</h1>
        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle me-1"></i> Create New Donor
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped align-middle">
            <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var donor in Model)
            {
                <tr>
                    <td>@donor.Name</td>
                    <td>@donor.Address</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@donor.Id" class="btn btn-sm btn-info me-1 text-white">
                            <i class="bi bi-eye">Details</i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@donor.Id" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash">Delete</i>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>